<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1 class="display-1">Quotes</h1>
</div>

<div class="container">
  <div>
    <app-quote-display></app-quote-display>

  </div>
  <div >
    <app-quote-form></app-quote-form>
  </div>
  <div >
    <h1>Extra Info Here</h1>
  </div>
  <div>
    <app-quote-vote></app-quote-vote>

  </div>
</div>



<!-- <div class="container">


<div class="row">
  <div class="col-md-6">
    <div class="row">
      <app-user-input></app-user-input>
    </div>
    <div class="row">
      <h1>Extra Info here</h1>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <app-quote></app-quote>

    </div>
      <div class="row">
        <app-quote></app-quote>

      </div>
      <div class="row">
        <app-quote></app-quote>

      </div>


  </div>

</div>
</div> -->
