<!--The content below is only a placeholder and can be replaced.-->

 <div style="text-align:center">
  <h1 class="display-1">Funny Quotes</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <app-quote></app-quote>
        <app-quote-vote></app-quote-vote>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row">

          <app-quote-form></app-quote-form>

      </div>
      <br>
      <div class="row">
        <h1>Extra Info Here</h1>

      </div>


    </div>

  </div>

</div>
